<div id="app">
    <form @submit.prevent="greet($event)">
        <input 
            placeholder="Input text here..."
        />
    </form>
</div>

<script>
    new Vue({
        el: '#app',
        greet: function (event) {
            alert('submitted');
        }
    });
</script>