<div id="app">
    <a href="https://vuejs.org/" @click.prevent="greet()">
        default click action is prevented
    </a>
</div>

<script>
    new Vue({
        el: '#app',
        methods: {
            greet: function (event) {
                alert('Hello VueJS');
            }
        }
    });
</script>