a {
    color: white;
}

a.dark {
    color: #2c3e50;
}

a.code-block {
    text-decoration: none;
}

.codeSlide h1 {
    border-color: #4fc08d !important;
}

.lifecycle {
    margin-top: -185px !important;
}
