<div id="app">
    <p> Old way: {{ message.split('').reverse().join('') }} </p>
    <p> Computed way: {{ reversedMessage }} </p>    
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello World',
        },
        computed: {
            reversedMessage: function() {
                return this.message.split('').reverse().join('');
            },
        }
    });
</script>
